<header class="header">
  <div class="header-wrapper">
    <figure class="header__icon">
      <img src="../../../assets/icons/algolia-logo.png" alt="" />
    </figure>

    <button type="button" class="menu-button" title="menu">
      <i>
        <svg
          fill="none"
          height="24"
          viewBox="0 0 24 24"
          width="24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M22 18.0048C22 18.5544 21.5544 19 21.0048 19H12.9952C12.4456 19 12 18.5544 12 18.0048C12 17.4552 12.4456 17.0096 12.9952 17.0096H21.0048C21.5544 17.0096 22 17.4552 22 18.0048Z"
            fill="currentColor"
          />
          <path
            d="M22 12.0002C22 12.5499 21.5544 12.9954 21.0048 12.9954H2.99519C2.44556 12.9954 2 12.5499 2 12.0002C2 11.4506 2.44556 11.0051 2.99519 11.0051H21.0048C21.5544 11.0051 22 11.4506 22 12.0002Z"
            fill="currentColor"
          />
          <path
            d="M21.0048 6.99039C21.5544 6.99039 22 6.54482 22 5.99519C22 5.44556 21.5544 5 21.0048 5H8.99519C8.44556 5 8 5.44556 8 5.99519C8 6.54482 8.44556 6.99039 8.99519 6.99039H21.0048Z"
            fill="currentColor"
          />
        </svg>
      </i>
    </button>

    <section class="header__tab">
      <nav>
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="">Restaurant</a></li>
        </ul>
      </nav>
    </section>

    <section class="header__nav">
      <nav>
        <ul>
          <li>
            <a href="">
              <span class="nav-link">
                <i>
                  <svg
                    enable-background="new 0 0 24 24"
                    height="24px"
                    id="Layer_1"
                    version="1.1"
                    viewBox="0 0 24 24"
                    width="24px"
                    xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <g>
                      <path
                        d="M20.6,5.7c0-0.2-0.1-0.3-0.2-0.4l-8.1-4.7c-0.1-0.1-0.3-0.1-0.5,0L3.6,5.3C3.5,5.4,3.4,5.5,3.4,5.7c0,0.2,0.1,0.3,0.2,0.4   l8.1,4.7c0.1,0,0.2,0.1,0.2,0.1s0.2,0,0.2-0.1l8.1-4.7C20.5,6,20.6,5.8,20.6,5.7z"
                      />
                      <path
                        d="M10.6,13.2L2.5,8.5C2.3,8.4,2.1,8.4,2,8.5C1.9,8.6,1.8,8.8,1.8,8.9v9.4c0,0.2,0.1,0.3,0.2,0.4l8.1,4.7   c0.1,0,0.2,0.1,0.2,0.1s0.2,0,0.2-0.1c0.1-0.1,0.2-0.2,0.2-0.4v-9.4C10.9,13.4,10.8,13.3,10.6,13.2z"
                      />
                      <path
                        d="M22,8.5c-0.1-0.1-0.3-0.1-0.5,0l-8.1,4.7c-0.1,0.1-0.2,0.2-0.2,0.4V23c0,0.2,0.1,0.3,0.2,0.4c0.1,0,0.2,0.1,0.2,0.1   s0.2,0,0.2-0.1l8.1-4.7c0.1-0.1,0.2-0.2,0.2-0.4V8.9C22.2,8.8,22.1,8.6,22,8.5z"
                      />
                    </g>
                  </svg>
                </i>
                Orders
              </span>
            </a>
          </li>
          <li>
            <a href="">
              <span class="nav-link">
                <i>
                  <svg
                    height="512px"
                    id="Layer_1"
                    style="enable-background: new 0 0 512 512"
                    version="1.1"
                    viewBox="0 0 512 512"
                    width="512px"
                    xml:space="preserve"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                  >
                    <path
                      d="M340.8,83C307,83,276,98.8,256,124.8c-20-26-51-41.8-84.8-41.8C112.1,83,64,131.3,64,190.7c0,27.9,10.6,54.4,29.9,74.6  L245.1,418l10.9,11l10.9-11l148.3-149.8c21-20.3,32.8-47.9,32.8-77.5C448,131.3,399.9,83,340.8,83L340.8,83z"
                    />
                  </svg>
                </i>
                Favorites
              </span>
            </a>
          </li>
          <li>
            <button type="button" title="login button" class="login-button">
              Login
            </button>
          </li>
          <li>
            <button type="button" title="signup button" class="signup-button">
              Sign Up
            </button>
          </li>
        </ul>
      </nav>
    </section>
  </div>
</header>
