.landing {
  margin-bottom: 200px;
}

.landing__hero {
  height: 100%;
  position: relative;
  z-index: 1;
}

.img-wrapper {
  position: relative;

  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%
  );
  z-index: 0;
  height: clamp(19.063rem, 9.236vw + 17.042rem, 28.125rem);
}

.hero-background {
  opacity: 0.8;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.hero-background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-heading {
  width: 100%;
  position: absolute;
  margin-inline: auto;
  margin-block: auto;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-inline: var(--PADDING-INLINE);
}

.hero-heading h1 {
  font-size: var(--FS-HEADER-1);
  color: var(--F-COLOR-6);
  margin-bottom: 50px;
}

.search-wrapper {
  margin-inline: auto;
  width: 100%;
  max-width: 850px;
  height: 60px;
  position: relative;
}

.search-icon {
  display: grid;
  place-items: center;
  position: absolute;
  height: 100%;
  margin-top: auto;
  left: 20px;
}

.search-icon svg {
  height: 16px;
  width: 16px;
  fill: var(--FS-BODY-3);
}

.input {
  width: 100%;
  height: 100%;
  color: var(--F-COLOR-4);
  font-size: var(--FS-BODY-3);
  padding-inline: 45px;
  border-radius: 10px;
  border: none;
}
/* END OF .landing__hero */

.main-wrapper {
  display: flex;
  flex-direction: row;
}

.landing__filter {
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;

  background: rgba(255, 255, 255, 0.2);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  max-width: 760px;
}

.filter-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.filter-header h2 {
  font-size: var(--FS-HEADER-2);
  margin-top: 50px;
}

.filter-header p {
  font-size: var(--FS-BODY-3);
}

.filter-header p span {
  color: #4094f7;
}

.filter-nav {
  margin-top: 130px;
  height: 80%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--BACKGROUND-COLOR);
  padding: var(--PADDING-INLINE);

  overflow: scroll;
  position: relative;
}

.filter-menu {
  display: flex;
  flex-direction: column;
}

.filter-menu h3 {
  font-size: 14px;
  margin-top: 30px;
  margin-bottom: 15px;
  color: var(--F-COLOR-1);
}

.menu {
  list-style: none;
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  align-items: start;
  gap: 20px;
}

.menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.custom-width li {
  width: 150px;
}

.menu li p {
  font-size: 14px;
  color: var(--F-COLOR-4);
}

.filter-button {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.filter-button button {
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
}

.filter-button button:first-child {
  background-color: var(--PRIMARY-COLOR);
  color: var(--BACKGROUND-COLOR);
}

.star-filter {
  display: flex;
  flex-direction: row;
}

.star-filter li i {
  display: grid;
  place-items: center;
}
.grey-star {
  fill: #dde2e4;
}
.star-filter li i {
  fill: #f8c51b;
}

.close-button {
  background: none;
  border: none;

  position: absolute;
  right: 5%;
  top: 25px;
}

.close-button i {
  display: grid;
  place-items: center;
}

.close-button svg {
  height: 24px;
  width: 24px;
}

/* END OF .filter */

.landing__card {
  padding-inline: var(--PADDING-INLINE);
  padding-top: 50px;
  width: 100%;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cards-result {
  font-size: var(--FS-BODY-3);
  font-weight: 600;
}

.cards-result span {
  color: var(--PRIMARY-COLOR);
}

.card-header button {
  border: none;
  background: none;
  padding: 5px;
  cursor: pointer;
}

.card-header button i svg {
  width: 24px;
  height: 24px;
  fill: var(--F-COLOR-4);
}

.card-header button:hover {
  border-radius: 100%;
  background-color: var(--ACCENT-COLOR);
}

.card-wrapper {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*  */

/* MEDIA QUERIES */

@media screen and (min-width: 600px) {
  .card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 760px) {
  .landing__filter {
    position: initial;

    max-width: 280px;
    background: none;
    box-shadow: none;
    margin-left: var(--PADDING-INLINE);
  }

  .filter-nav {
    margin-top: 0;
    height: 100%;
    padding: 0;
  }

  .filter-header p,
  .close-button,
  .filter-button {
    display: none;
  }

  @media screen and (min-width: 1280px) {
    .card-wrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  /* change in typescript */
}
