.card {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--BORDER-COLOR);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.card__img {
  height: 140px;
  min-width: 177px;
  background-color: aliceblue;
  box-shadow: var(--BOX-SHADOW);
}

.card__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  margin: auto;
}

.card__info h4 {
  font-size: var(--FS-BODY-2);
  color: var(--F-COLOR-1);
}

.card__info p {
  font-size: var(--FS-BODY-4);
  color: var(--F-COLOR-3);
}

.info-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.info-rating i svg {
  height: 16px;
  width: 16px;
  fill: var(--ACCENT-COLOR);
}

.info-rating p {
  font-weight: 600;
  color: var(--F-COLOR-2);
}

.favorite {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px;
  background-color: var(--F-COLOR-7);
  border-radius: 100%;
  box-shadow: var(--BOX-SHADOW);
}

.favorite svg {
  height: 24px;
  width: 24px;
}

.favorite svg:hover {
  fill: red;

  overflow: hidden;
}
/*  */
/*  */

@media screen and (min-width: 530px) {
  .card {
    flex-direction: column;
    max-width: 300px;
  }

  .card__info {
    margin: 20px;
  }
}
