@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* || RESET */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

input,
button {
  font: inherit;
}

/* || GENERAL */

html {
  font-family: var(--FF);
}

body {
  min-height: 100svh;
}

i {
  display: grid;
  place-items: center;
}

/* || VARIABLES */
:root {
  /* | FONTS */
  --FF: "Inter", sans-serif;
  --FS-HEADER-1: clamp(1.5rem, 1.35rem + 0.75vw, 2.25rem);
  --FS-HEADER-CARD: clamp(1rem, 0.975rem + 0.125vw, 1.125rem);
  --FS-DESC-CARD: clamp(0.75rem, 0.725rem + 0.125vw, 0.875rem);

  --FS-HEADER-2: 24px;
  --FS-BODY-1: 18px;
  --FS-BODY-2: 16px;
  --FS-BODY-3: 14px;
  --FS-BODY-4: 12px;
  --F-SPACING: -2%;

  /* | COLOR */
  --PRIMARY-COLOR: hsl(223, 99%, 59%);
  --ACCENT-COLOR: hsl(46, 94%, 54%);
  --BACKGROUND-COLOR: #fff;

  --BORDER-COLOR: #e5e9eb;

  --F-COLOR-1: #252c32;
  --F-COLOR-2: #363e44;
  --F-COLOR-3: #696e73;
  --F-COLOR-4: #787878;
  --F-COLOR-5: #999c9f;
  --F-COLOR-6: #dde2e4;
  --F-COLOR-7: #ffffff;

  /* | SPACING */
  --PADDING-INLINE: 5%;

  /* | DESIGN */

  --BOX-SHADOW: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
